{% extends "flaws/map.html" %}

{% block menu %}{% endblock %}
            
{% block editable %}
// Some events for the name field, so it will be ready for searching
// as soon as the page appears.
var name = jQuery("#id_name");
name.focus();
name.select();
jQuery("#id_name,#id_description,#id_tags").bind("focus",function(){
	jQuery(this)[0].select();
});


            newFlaws = new OpenLayers.Layer.Vector("New Flaw", { styleMap: newFlawStyle_ });
            map.addLayer(newFlaws);

            var select_options = {
                clickout: true,
                toggle: true,
                hover: false,
            };
            select_new = new OpenLayers.Control.SelectFeature(newFlaws, select_options);
            map.addControl(select_new);
            select_new.activate();

            function setBoundsFromMap(e) {
                var merc_extent = map.getExtent();
                var displayProjection = new OpenLayers.Projection("EPSG:4326");
                var wgs_extent = merc_extent.transform(map.getProjectionObject(), displayProjection) //transform.(from,to)
                if ($('id_bounds') & wgs_extent) {
                $('id_bounds').value = wgs_extent.toGeometry();
                }
            }

            function setExtentFromBounds(bounds) {
                var wkt = new OpenLayers.Format.WKT();
                var wgs_extent = wkt.read($('id_bounds').value);
                if (wgs_extent) {
                var wgs_bounds = wgs_extent.geometry.getBounds(); //new OpenLayers.Bounds(wgs_extent);
                var displayProjection = new OpenLayers.Projection("EPSG:4326");
                var merc_bounds = wgs_bounds.transform(displayProjection,map.getProjectionObject()) //transform.(from,to)
                map.zoomToExtent(merc_bounds);
                }
            }

            write_wkt = function(event){
              // A 'POST' submits data in the 'body' of the browser request object and usually comes from an HTML form
              //new OpenLayers.Request.issue({method: "POST", url: '/post_flaw/', data: event.feature.geometry})
                            
              //var json = geojson.write(event.feature);
              //new OpenLayers.Ajax.Request( '/post_flaw/', { method: 'post', postBody: json, requestHeaders: ['Accept', 'application/json'], 
              //  //onSuccess: success,
              //onFailure: function(xhr) { $('id_geometry').value = "Failed upload (status code "+xhr.status+"). Check your URL." } } );
              
              // only allow the drawing of one point at a time
              if (newFlaws.features.length > 1){
                old_feats = [newFlaws.features[0]];
                newFlaws.removeFeatures(old_feats);
                newFlaws.destroyFeatures(old_feats);
              }
              
              // Now stick the reprojected geometry value in the form field
              var projected_point = event.feature.geometry.clone(); // must clone this otherwise it will reproject in place!!!
              var displayProjection = new OpenLayers.Projection("EPSG:4326");
              var lon_lat_point = projected_point.transform(map.getProjectionObject(), displayProjection) //transform.(from,to)
              $('id_geometry').value = lon_lat_point;
              //console.log(lon_lat_point);
              };
    
            var draw = new OpenLayers.Control.DrawFeature(newFlaws, 
               OpenLayers.Handler.Point, {'displayClass': 'olControlDrawFeaturePoint'});
            controls.push(draw)
            //var mod = new OpenLayers.Control.ModifyFeature(newFlaws, {'displayClass': 'olControlModifyFeature'});
            //controls.push(mod)
            
            feature_added = function(event){
               //map.getControlsByClass('OpenLayers.Control.DrawFeature')[0].deactivate();
               //map.getControlsByClass('OpenLayers.Control.ModifyFeature')[0].activate();
               //console.log('yes');
               write_wkt(event);
              };

            function replaceDrawnFlaw(){
             if ($('id_geometry')) {
             if ($('id_geometry').value){
             var wkt  = new OpenLayers.Format.WKT()
             var feat = wkt.read($('id_geometry').value)
             var displayProjection = new OpenLayers.Projection("EPSG:4326");
             feat.geometry.transform(displayProjection,map.getProjectionObject());
             newFlaws.addFeatures(feat);
             }
             }
            }
            
            
            newFlaws.events.on({"featuremodified" : write_wkt });
            newFlaws.events.on({"featureadded" : feature_added });
            map.events.register("moveend", map, setBoundsFromMap);
            map.events.register("zoomend", map, setBoundsFromMap);
            replaceDrawnFlaw();

{% endblock %}


{% block lefttop %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block panel_right %}
    <form method="post" action=".">
        
			<h2><img src="../media/images/text/add-a-flaw.png" width="123" height="22" alt="Add A Flaw"></h2>
            {% if form.errors %}
            <p class="errorlist">Sorry there are corrections needed in your form below: {{ form.non_field_errors }}</p>

            {{ form.as_p }}
            
            {% else %}

	        <input type="text" name="name" id="id_name" value="Name the flaw">
	        
	        <textarea name="description" id="id_description">Describe the flaw</textarea>
	        
	        <select name="severity" id="id_severity">
                <option value="" selected="selected">How severe is this flaw?</option>
                <option value="1">1: Minor</option>
                <option value="2">2: Moderate</option>
                <option value="3">3: Bad</option>
                <option value="4">4: Terrible</option>
                <option value="5">5: OMG, just about died here</option>
            </select>

            <input type="text" name="tags" id="id_tags" value="Enter some tags, separated by commas" maxlength="255">
            <small class="help">Example: cars, commute, traffic</small>
			
			{{ form.geometry }}

            {% endif %}
			
			<button type="submit" id="add-flaw-save">
				<img src="../media/images/save-button.png" width="136" height="53" alt="Save this flaw">
			</button>
			<a href="/map" id="goto-find-flaw">
				<img src="../media/images/find-button.png" width="136" height="53" alt="Go to to the find flaw page">
			</a>
           
		</form>	
{% endblock %}

{% block additional %}
{% endblock %}