<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
{% block meta %}
 	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 	<meta name="keywords" content="">
	<meta name="description" content="">
{% endblock %}
	<title>{% block title %}CUGOS{% endblock %}</title>
{% block css %}
	<link rel="stylesheet" href="media/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="media/css/common.css" type="text/css" media="screen" charset="utf-8">
	<!--[if IE 7]>
		<link rel="stylesheet" href="media/css/ie7.css" type="text/css" media="screen" charset="utf-8">
	<![endif]-->
{% endblock %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="media/js/cufon/cufon.js" type="text/javascript" charset="utf-8"></script>
	<script src="media/js/cufon/nevis_700.font.js" type="text/javascript" charset="utf-8"></script>
</head>

<body id="home" {% block body_load %}{% endblock %}>
	<div class="container cf">
		<div id="header" class="cf">
		 	<h1>What is CUGOS?</h1>
		 	<p>The Cascadia chapter of the <abbr title="Open Source Geospatial Foundation">OSGeo</abbr>
		 		is based on a regional 
		 		<abbr title="Free and Open Source Software">FOSS</abbr> 
		 		<abbr title="Geographic Information Systems">GIS</abbr> user
		 		 group formed in 2007 called Cascadia Users of Geospatial Open Source (CUGOS). 
		 		 We are an active group of members who are passionate about open source software, 
		 		 GIS, and our region. We have members from all walks of life, a large spectrum of 
		 		 business and academia, and active OSGeo members (board members, charter members, 
		 		 and active project participants).</p>
		 	<img src="media/images/logo.png" width="396" height="183" 
		 	title="Cascadia Users of Geospatial Open Source!" alt="CUGOS Logo">
		</div>
		
		<div id="quote">
			<h2>We are passionate about open source software, GIS, and our region.</h2>
		</div>

		{% block content %}{% endblock %}

		<div id="footer">
			<a href="http://pugetworks.com" title="Made by Pugetworks"></a>
		</div>
	</div>
	{% block extrajs %}{% endblock %}
</body>
</html>
